<div class="row loaded-content">
	<div class="col-md-12 sci-manager-data-table-container">
        <div class="x_content">
            <!-- start recent activity -->
            <ul class="sortable-list connectList agile-list tasks-of-user">
                <th:block th:each="task : ${taskDTOs}">
                    <li th:class="${(task.late == true) ? 'danger-element' : (T(com.uff.scimanager.domain.TaskStatus).DOING == task.status) ? 'info-element' : 'primary-element'}">
                        <div th:id="|task-details-${task.taskId}|" class="task-left-info">
                            <div class="task-title" th:text="${task.taskTitle}">[..]</div>
                            <th:block th:if="${task.deadline != null}">
                                <i class="fa fa-clock-o"></i> <span class="task-card-deadline">Limite: <span th:class="${task.late == true ? 'danger-text' : ''}" th:text="${task.deadline}">[..]</span></span> <br />
                            </th:block>

                             <div class="task-card-actions col-xs-12 bottom text-center">
                                <div class="emphasis pull-left">
                                    <a th:id="|details-button-${task.taskId}|" class="btn-circle details-button btn btn-default btn-xs">
                                        <i data-toggle="tooltip" data-placement="top" title="Ver mais informações" class="fa fa-info"></i>
                                    </a>
                                </div>
                            </div>

                             <div class="popover-description-head hide">
                                <span class="task-popover-title">Detalhes</span>
                            </div>
                            <div class="popover-description-content hide">
                                <div class="task-popover-content popover-description-container col-md-12 col-sm-12 col-xs-12">
                                    <b>Criada por: </b> <span th:if="${task.userCreator == null}">--</span><span th:if="${task.userCreator != null}" th:text="${task.userCreator.username}"></span> <br />
                                    <b>Criada em: </b> <span th:text="${task.creationDate}"></span> <br />
                                    <b>Fase: </b> <span th:text="${task.phase.phaseName}">[..]</span> <br />
                                    <b>Workflow: </b> <span th:text="${task.workflow.workflowName}">[..]</span> <br />
                                    <div th:class="${task.urlRepository != null} ? 'popover-task-description' : ''">
                                        <b>Descrição: </b> <span th:if="${task.description != null}" th:text="${task.description}">[..]</span> <span th:if="${task.description == null}">--</span> <br />
                                    </div>
                                    <th:block th:if="${task.urlRepository != null}">
                                        <b>URL do repositório: </b> <a class="task-url-repository" th:href="${task.urlRepository}" th:text="${task.urlRepository}" target="_blank"></a> <br />
                                    </th:block>
                                </div>
                            </div>
                        </div>
                        <div class="task-right-info">
                            <span class="pull-right task-estimated" th:if="${task.estimatedTime != null}">Estimativa: <span th:text="${task.estimatedTime}" class="badge badge-status">[..]</span></span>
                            <div class="agile-detail pull-right">

                                 <th:block th:if="${task.userGroupInTask.groupName != null}">
                                    <div class="alert alert-dismissible responsible-user-info display-inline-block pull-right" role="alert">
                                        <a class="pull-right" th:text="${task.userGroupInTask.groupName}">[..]</a>
                                    </div>
                                    <br />
                                 </th:block>
                                 <th:block th:if="${task.userGroupInTask.groupName == null and !task.usersInTask.isEmpty()}">
                                    <div th:each="user : ${task.usersInTask}" class="alert alert-dismissible responsible-user-info display-inline-block pull-right" role="alert">
                                        <div th:if="${user.hasProfileImage == true}" class="user-group-profile-image">
                                            <img data-toggle="tooltip" data-placement="top" th:title="|${user.username} (${task.workflow.responsibleGroup.groupName})|" th:src="@{/resources/images/processing.gif}" th:attr="data-user-id=|img-profile-${user.userId}|" alt="imagem de perfil do usuário" class="avatar img-loading-small img-async-load" />
                                        </div>
                                        <div th:if="${user.hasProfileImage != true}" class="user-group-profile-image">
                                            <img data-toggle="tooltip" data-placement="top" th:title="|${user.username} (${task.workflow.responsibleGroup.groupName})|" th:src="@{/resources/images/user.png}" alt="imagem de perfil do usuário" class="avatar" />
                                        </div>
                                    </div>
                                    <br />
                                </th:block>

                                <div class="user-task-tags" th:if="${task.tags != null and !task.tags.isEmpty()}">
                                    <th:block th:each="tag : ${task.tags}">
                                        <span class="task-tag pull-right label label-primary" th:text="${tag.tagName}">[..]</span>
                                    </th:block>
                                    <br />
                                </div>
                             </div>
                        </div>
                    </li>
                </th:block>
            </ul>
            <th:block th:if="${taskDTOs.size() lt tasksTotal}">
                <div class="text-center">
                    <a th:href="@{/scientific-project/all-scientific-projects(page=1, myOwn=true)}" class="btn btn-more btn-xs">
                        <i class="fa fa-search-plus"></i> Ver todos os projetos
                    </a>
                </div>
           </th:block>

           <!-- end recent activity -->

           <div class="alert-no-content alert alert-info alert-dismissible" role="alert" th:if="${taskDTOs != null and taskDTOs.isEmpty()}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                Não há tarefas associadas ao usuário.
            </div>

            <div class="loading-content-container loading-data-async">
                <i class="centered-loading-icon fa fa-spinner fa-pulse fa-2x fa-fw"></i>
            </div>
        </div>
    </div>
</div>
