<!-- page body -->
<div class="page-main-content">
	<div class="page-title">
		<div class="no-pad-left title_left col-md-12 col-sm-12 col-xs-12">
			<div class="no-pad-left col-md-12 col-sm-12 col-xs-12">
				<h2>Projetos científicos</h2>
				<div th:replace="fragments/search-filter"></div>
			</div>
		</div>

		<form th:replace="fragments/advanced-search"></form>
		<input id="search-url" type="hidden" name="searchUrl" th:value="${searchListUrl}" />
	</div>

	<div class="clearfix"></div>

	<div class="row loaded-content">
		<div class="col-md-12 sci-manager-data-table-container">
			<div class="x_panel">
				<div class="x_content">

					<div class="row">

						<div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
							<div th:if="${headerData != null and headerData.currentUser != null and headerData.currentUser.userRole != T(com.uff.scimanager.domain.Role).USER}" class="pull-left">
								<button type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-create-project-modal-lg">Criar projeto científico <i class="fa fa-plus"></i></button>
							</div>

						</div>

						<div class="clearfix"></div>

						<!-- start project list -->
						<div class="table-container">
							<table class="table default-sci-table">
								<thead>
									<tr>
										<th>Nome do projeto científico</th>
										<th>Grupos responsáveis</th>
										<th style="width: 25%"></th>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="scientificProject, row : ${scientificProjectDTOs}">
										<tr th:id="|scientific-project-row-${scientificProject.scientificProjectId}|" th:class="|row-${row.index}|">
											<td>
												<a th:id="|project-name-${scientificProject.scientificProjectId}|" th:href="@{|/scientific-project/${scientificProject.scientificProjectId}/project-details|}" th:text="${scientificProject.projectName}">[..]</a>
												<br />
											</td>
											<td>
												<a th:text="${scientificProject.responsibleGroupNames}">[..]</a>
												<br />
											</td>
											<td class="actions">
												<div class="btn-group data-details">
													<a data-toggle="dropdown" class="dropdown-toggle btn btn-default btn-xs">
														<i data-toggle="tooltip" data-placement="top" title="Ver detalhes" class="fa fa-folder-open"></i>
													</a>
													<ul class="dropdown-menu pull-right" role="menu">
														<li role="presentation">
															<a th:href="|../scientific-project/${scientificProject.scientificProjectId}/project-details?tab=dashboard|">
																<i class="fa fa-dashboard"></i> Dashboard do projeto
															</a>
														</li>
														<li role="presentation">
															<a th:href="|../scientific-project/${scientificProject.scientificProjectId}/project-details?tab=documentation|">
	                                                			<i class="fa fa-book"></i> Documentação
	                                                		</a>
														</li>
														<li role="presentation">
															<a th:href="|../scientific-project/${scientificProject.scientificProjectId}/project-details?tab=experiments|">
																<i class="fa fa-flask"></i> Experimentos Científicos
															</a>
														</li>
														<li th:if="${(headerData != null and headerData.currentUser.getUserRole().roleName == T(com.uff.scimanager.domain.Role).ADMIN.roleName) or (scientificProject != null and scientificProject.isEditablebyUser == true)}" role="presentation">
															<a th:href="|../scientific-project/${scientificProject.scientificProjectId}/project-details?tab=phases|">
																<i class="fa fa-list-ol"></i> Fases
															</a>
														</li>
														<li th:if="${scientificProject != null and scientificProject.isEditablebyUser == true}" role="presentation">
															<a th:href="|../scientific-project/${scientificProject.scientificProjectId}/project-details?tab=taskBoard|">
																<i class="fa fa-columns"></i> Quadro de tarefas
															</a>
														</li>
														<li th:if="${scientificProject != null and scientificProject.isEditablebyUser == true}" role="presentation">
															<a th:if="${scientificProject != null and scientificProject.isEditablebyUser == true}" th:href="|../scientific-project/${scientificProject.scientificProjectId}/project-details?tab=taskList|">
																<i class="fa fa-tasks"></i> Lista de tarefas
															</a>
														</li>
													</ul>
												</div>

												<a th:if="${(headerData != null and headerData.currentUser != null and headerData.currentUser.userRole != T(com.uff.scimanager.domain.Role).USER) or (scientificProject != null and scientificProject.isEditablebyUser == true)}" data-toggle="modal" data-target=".bs-edit-project-modal-lg" th:id="|edit-scientific-project-${scientificProject.scientificProjectId}|" class="edit-scientific-project btn btn-default btn-xs">
													<i data-toggle="tooltip" data-placement="top" title="Editar" class="fa fa-pencil"></i>
												</a>
												<a th:if="${headerData != null and headerData.currentUser != null and headerData.currentUser.userRole != T(com.uff.scimanager.domain.Role).USER}" th:id="|remove-scientific-project-${scientificProject.scientificProjectId}|" data-toggle="modal" data-target=".bs-remove-scientific-project-modal-lg" type="button" class="remove-scientific-project-button btn btn-default btn-xs">
													<i data-toggle="tooltip" data-placement="top" title="Remover" class="red fa fa-trash-o"></i>
												</a>
											</td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
						<!-- end project list -->

						<div class="alert-no-content alert alert-info alert-dismissible" role="alert" th:if="${scientificProjectDTOs != null and scientificProjectDTOs.isEmpty()}">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
							</button>
							Nenhum projeto científico encontrado
						</div>

						<div class="loading-data-async">
	           				<i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
	           			</div>

					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragments/pagination"></div>

		<div th:replace="fragments/scientific-project/edit-scientific-project-modal"></div>
		<div th:replace="fragments/scientific-project/remove-scientific-project-modal"></div>
	</div>
</div>
<!-- /page body -->
