<!DOCTYPE html>
<html lang="en" style="background-color: #2A3F54;" xmlns="http://www.w3.org/1999/xhtml"
												   xmlns:th="http://www.thymeleaf.org"
												   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<head>
	    <meta http-equiv="Content-Type" content="text/plain; charset=UTF-8" />
	    <!-- Meta, title, CSS, favicons, etc. -->
	    <meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />

	    <title>SciManager - UFF</title>

	    <!-- Bootstrap core CSS -->
	    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
	    <link th:href="@{/resources/fonts/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
	    <link th:href="@{/resources/css/animate.min.css}" rel="stylesheet" type="text/css" />

		<!-- Custom styling plus plugins -->
	    <link th:href="@{/resources/css/custom.css}" rel="stylesheet" type="text/css" />
	    <link th:href="@{/resources/css/sci-manager.css}" rel="stylesheet" type="text/css" />

	    <link rel="icon" th:src="@{/resources/images/favicon.ico?v=2}" type="image/x-icon" />
		<link rel="shortcut icon" th:src="@{/resources/images/favicon.ico?v=2}" type="image/x-icon" />
	</head>

	<body>
	    <div>
	        <div id="wrapper">
	            <div id="login" class="animate form">
	            	<input id="application-context-path" type="hidden" th:name="applicationContext" th:value="${applicationContext}" />

	                <section class="login_content change-password">
	                    <form id="request-password-form" role="form" th:action="@{/user/reset-password/request-password}" method="post">
	                        <h1>
								<img alt="UFF logo" th:src="@{/resources/images/uff-logo-small.png}" />
								<span class="scimanager-title"> SciManager</span>
							</h1>

							<label for="email">Informe o e-mail</label>
	                        <div class="item form-group">
	                            <input type="text" name="email" id="email" class="form-control" placeholder="e-mail" th:required="true" />
	                        </div>
	                        <div>
	                            <a id="request-password-button" class="btn btn-success action-button submit">
		                            <span class="action-text">Requisitar nova senha</span>
		                			<i class="fa fa-spinner loading-action hide fa-pulse fa-2x fa-fw"></i>
	                            </a>

								<div class="alert alert-danger alert-dismissible fade in hide" role="alert">
	                            	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
	                                </button>
	                                <span class="message-description"></span>
	                            </div>

								<div class="alert alert-success alert-dismissible fade in hide" role="alert">
	                            	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
	                                </button>
	                                <span class="message-description"></span>
	                            </div>
	                        </div>
	                        <div class="clearfix"></div>
	                        <div class="separator">
	                            <div class="clearfix"></div>
	                            <br />
	                        </div>
	                    </form>
	                    <!-- form -->
	                </section>
	                <!-- content -->
	            </div>
	        </div>
	    </div>

		<th:block th:replace="fragments/base-layout :: common_scripts(~{::script})">
			<!-- validator -->
			<script th:src="@{/resources/js/validator/validator.js}"></script>

			<!-- custom view js -->
			<script th:src="@{/resources/js/custom-view-js/sci-manager.commons.js}"></script>

			<script th:src="@{/resources/js/custom-view-js/reset-password.js}"></script>
		</th:block>
	</body>

</html>
