 <!-- Search content -->
<form id="search-form" role="form">
	<div class="title_right col-md-10 col-sm-10 col-xs-12">
    	 <div class="col-md-6 col-sm-6 col-xs-12 form-group pull-right top_search">
        	 <div class="input-group" id="regular-search">
             	<input id="currentSearch" type="text" name="search" class="form-control" placeholder="Buscar por..." />
             	<span id="search-button" class="input-group-btn">
        			<button class="btn btn-default search-filter-button" type="button">Buscar</button>
    			</span>
         	</div>
     	</div>

     	<div class="form-group pull-right">
        	<div class="col-md-12 col-sm-12 col-xs-12">
            	<p class="radio-inline" th:with="myOwn=${filter.getFieldValue('myOwn')}">
                	Todos:
	                <input type="radio" class="flat" name="myOwn" value="" th:checked="${myOwn == null} ? true" th:required="true" /> Meus:
	                <input type="radio" class="flat" name="myOwn" value="true" th:checked="${myOwn == true} ? true" th:required="true" />
            	</p>
        	</div>
    	</div>
	</div>
</form>
<!-- /Search content -->
