<!-- Upload new model file modal -->
<div class="modal fade bs-file-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
   	<div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Arquivo modelo</h4>
            </div>
            <div class="modal-body code-editor-body">
                <div class="col-lg-12">

                	<span><b>Uploader:</b> <i class="file-uploader-name"></i></span>

	            	<textarea class="file-container" readonly="readonly"></textarea>
                </div>
            </div>
            <div class="modal-footer">
            </div>

        </div>
    </div>
</div>
<!-- /Upload new model file moda -->