<!-- page body -->
<div class="page-main-content">
	<div class="row loaded-content">
		<div class="col-md-12 sci-manager-data-table-container">
			<div class="x_panel">
				<div class="x_content">

					<div class="row">

						<div class="col-md-12 col-sm-12 col-xs-12 no-pad-left no-pad-right">
							<div class="no-pad-left col-md-5 col-sm-5 col-xs-5">
								<div class="pull-left">
									<div class="pull-right">
										<form id="upload-new-model-file-form" th:novalidate="true" enctype="multipart/form-data">

											<input th:id="uploader-name" type="hidden" th:name="userId" th:value="${headerData.currentUser.userId}"/>
											<input th:if="${workflowDTO != null}" th:id="workflow-id" type="hidden" th:name="workflowId" th:value="${workflowDTO.workflowId}"/>

											<span class="btn btn-success btn-file">
												Carregar novo arquivo modelo <input id="model-file" th:name="modelFile" type="file" accept="text/xml" />
											</span>
										</form>
									</div>
	                        	</div>

								<div class="clearfix"></div>

								<div th:replace="fragments/search-filter"></div>
							</div>

							<input id="search-url" type="hidden" name="searchUrl" th:value="${searchListUrl}" />

							<div class="col-md-7 col-sm-7 pull-right col-xs-7 no-pad-right">
								<form th:replace="fragments/model-file/search-date-filter"></form>
							</div>
						</div>

						<div class="clearfix"></div>

						<!-- start model file list -->
						<table class="table default-sci-table">
							<thead>
								<tr>
									<th style="width: 20%">Uploader</th>
									<th style="width: 20%">Exectag</th>
									<th style="width: 20%">Data de Submissão</th>
									<th style="width: 15%">Status</th>
									<th style="width: 25%"></th>
								</tr>
							</thead>
							<tbody>
								<tr class="current-file-row" th:if="${workflowDTO != null and workflowDTO.currentModelFile != null}">
									<td>
										<a th:text="${workflowDTO.currentModelFile.uploader}">[..]</a>
										<br />

										<input id="current-model-file-content" type="hidden" th:value="${workflowDTO.currentModelFile.fileContent}" />
									</td>
									<td>
										<a th:text="${workflowDTO.currentModelFile.execTag}">[..]</a>
										<br />
									</td>
									<td>
										<a th:text="${workflowDTO.currentModelFile.submissionDate}">[..]</a>
										<br />
									</td>
									<td>
										<span th:class="${workflowDTO.currentModelFile.isCurrentFile == true} ? 'label label-info' : 'label label-danger'" th:text="${workflowDTO.currentModelFile.isCurrentFile == true} ? 'Atual' : 'Inativo'"></span>
									</td>
									<td class="actions">
										<a class="btn btn-default btn-xs" data-toggle="modal" data-target=".bs-current-file-modal-lg">
											<i data-toggle="tooltip" data-placement="top" title="Visualizar modelo" class="fa fa-file-code-o"></i>
										 </a>
										<a th:href="|../../workflow/model-file/${workflowDTO.workflowId}/download-file/${workflowDTO.currentModelFile.modelFileId}|" target="_blank" class="btn btn-default btn-xs">
											<i data-toggle="tooltip" data-placement="top" title="Baixar arquivo" class="fa fa-download"></i>
										 </a>
									</td>
								</tr>
								<th:block th:each="modelFile : ${modelFileDTOs}">
									<tr>
										<td>
											<a th:id="|file-uploader-name-${modelFile.modelFileId}|" th:text="${modelFile.uploader}">[..]</a>
											<br />

											<input th:id="|model-file-content-${modelFile.modelFileId}|" type="hidden" th:value="${modelFile.fileContent}" />
										</td>
										<td>
											<a th:text="${modelFile.execTag}">[..]</a>
											<br />
										</td>
										<td>
											<a th:text="${modelFile.submissionDate}">[..]</a>
											<br />
										</td>
										<td>
											<span th:class="${modelFile.isCurrentFile == true} ? 'label label-info' : 'label label-danger'" th:text="${modelFile.isCurrentFile == true} ? 'Atual' : 'Inativo'"></span>
										</td>
										<td class="actions">
											<a th:if="${modelFile.isCurrentFile != true}" th:id="|compare-files-${modelFile.modelFileId}|" data-toggle="modal" data-target=".bs-comparison-file-modal-lg" class="compare-files-button btn btn-default btn-xs">
												<i data-toggle="tooltip" data-placement="top" title="Comparar com modelo atual" class="fa fa-files-o"></i>
											</a>
											<a th:id="|view-file-${modelFile.modelFileId}|" class="btn view-file btn-default btn-xs">
												<i data-toggle="tooltip" data-placement="top" title="Visualizar modelo" class="fa fa-file-code-o"></i>
											</a>
											<a th:href="|../../workflow/model-file/${workflowDTO.workflowId}/download-file/${modelFile.modelFileId}|" target="_blank" class="btn btn-default btn-xs">
												<i data-toggle="tooltip" data-placement="top" title="Baixar arquivo" class="fa fa-download"></i>
											</a>
											<a th:id="|remove-model-file-${modelFile.modelFileId}|" data-toggle="modal" data-target=".bs-remove-model-file-modal-lg" type="button" class="remove-model-file-button btn btn-default btn-xs">
												<i data-toggle="tooltip" data-placement="top" title="Remover" class="fa red fa-trash-o"></i>
											</a>
										</td>
									</tr>
								</th:block>
							</tbody>
						</table>

						<div class="alert-no-content alert alert-info alert-dismissible" role="alert" th:if="${(modelFileDTOs != null and modelFileDTOs.isEmpty()) and (workflowDTO == null or workflowDTO.currentModelFile == null)}">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
							</button>
							Nenhum arquivo modelo encontrado
						</div>

						<div class="loading-data-async">
	           				<i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
	           			</div>

					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragments/pagination"></div>

		<div th:replace="fragments/model-file/upload-file-modal"></div>
		<div th:replace="fragments/model-file/current-file-modal"></div>
	    <div th:replace="fragments/model-file/file-modal"></div>
	    <div th:replace="fragments/model-file/file-comparison-modal"></div>
	    <div th:replace="fragments/model-file/remove-model-file-modal"></div>
	</div>
</div>
<!-- /page body -->
