<!-- Upload new model file modal -->
<div class="modal fade bs-upload-file-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
   	<div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Upload de arquivo modelo</h4>
            </div>
            <div class="modal-body code-editor-body">
                <div class="col-lg-12">

                	<h2 th:class="${workflowDTO != null and workflowDTO.currentModelFile != null} ? 'has-model-file' : 'hide has-model-file'" th:text="|Comparação do arquivo atual com o arquivo carregado|">[..]</h2>
                	<h2 th:class="${workflowDTO ==null or workflowDTO.currentModelFile == null} ? 'hide has-not-model-file' : 'has-not-model-file'" th:text="|Arquivo carregado|">[..]</h2>

	            	<div class="files-diff"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="destroy-model-file" type="button" class="action-button btn btn-danger cancel-button" data-dismiss="modal">
                	<span class="action-text">Descartar arquivo carregado</span>
                	<i class="fa fa-spinner loading-action hide fa-pulse fa-2x fa-fw"></i>
                </button>
                <button id="upload-new-model-file" type="button" class="action-button btn btn-success">
                	<span class="action-text">Usar arquivo carregado como atual</span>
                	<i class="fa fa-spinner loading-action hide fa-pulse fa-2x fa-fw"></i>
                </button>
            </div>

        </div>
    </div>
</div>
<!-- /Upload new model file moda -->