<!-- page body -->
<div class="page-main-content">
	<div class="row loaded-content">
		<div class="col-md-12 sci-manager-data-table-container">
			<div class="x_panel">
				<div class="x_content">

					<div class="row">

						<div class="col-md-12 col-sm-12 col-xs-12 no-pad-left no-pad-right">
							<div class="no-pad-left col-md-6 col-sm-6 col-xs-6">
								<div th:replace="fragments/search-filter"></div>
							</div>

							<div class="col-md-6 col-sm-6 pull-right col-xs-6 no-pad-right">
								<input id="search-url" type="hidden" name="searchUrl" th:value="${searchGroupsListUrl}" />
								<form th:replace="fragments/search"></form>
							</div>
						</div>

						<div class="clearfix"></div>

						<!-- start user-group list -->
						<div class="table-container">
							<table class="table default-sci-table">
								<thead>
									<tr>
										<th style="width: 40%">Nome do grupo</th>
										<th>Membros do grupo</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="userGroup : ${userGroupDTOs}">
										<td>
											<a th:id="|group-name-${userGroup.userGroupId}|" th:text="${userGroup.groupName}">[..]</a>
											<br />
										</td>
										<td>
											<ul th:if="${userGroup.groupUsers != null and !userGroup.groupUsers.isEmpty()}" class="list-inline group-users-list">
												<li th:each="user : ${userGroup.groupUsers}">
													<div class="alert alert-dismissible group-user-info display-inline-block" role="alert">
														<div class="remove-user-group">
															<a th:id="|remove-group-user-${user.userId}-${userGroup.userGroupId}|" type="button" class="close remove-user-from-group" data-toggle="modal" data-target=".bs-remove-user-modal-lg" aria-label="Close">
																<span aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Remover do grupo">×</span>
															</a>
														</div>

														<div th:if="${user.hasProfileImage == true}" class="user-group-profile-image">
															<img data-toggle="tooltip" data-placement="top" th:title="${user.username}" th:src="@{/resources/images/processing.gif}" th:attr="data-user-id=|img-profile-${user.userId}|" alt="imagem de perfil do usuário" class="avatar img-loading-small img-async-load" />
														</div>
														<div th:if="${user.hasProfileImage != true}" class="user-group-profile-image">
															<img data-toggle="tooltip" data-placement="top" th:title="${user.username}" th:src="@{/resources/images/user.png}" alt="imagem de perfil do usuário" class="avatar" />
														</div>

													</div>
												</li>
											</ul>
											<span th:if="${userGroup.groupUsers == null or userGroup.groupUsers.isEmpty()}">--</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- end user-group list -->

						<div class="alert-no-content alert alert-info alert-dismissible" role="alert" th:if="${userGroupDTOs != null and userGroupDTOs.isEmpty()}">
                        	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                            </button>
                            Nenhum grupo de usuários encontrado
                        </div>

                        <div class="loading-data-async">
	           				<i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
	           			</div>

					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragments/pagination"></div>

	</div>
</div>
<!-- /page body -->
