<!-- Edit version modal -->
<div class="modal fade bs-edit-workflow-version-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
   	<div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="editWorkflowLabel">Editar versão</h4>
            </div>
            <div class="modal-body">
                <form method="post" id="edit-workflow-version-form" class="form-horizontal form-label-left" th:novalidate="true" role="form" th:action="@{/workflow/edit-workflow-version}">

                    <div class="item form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="version">Número da versão <span class="required">*</span></label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                        	<input id="edit-version-workflow-id" type="hidden" th:name="workflowId" />
                            <input id="edit-workflow-version" type="number" min="0.01" max="1000" step="0.01" th:name="version" th:required="true" placeholder="versão"  class="form-control col-md-7 col-xs-12" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancel-button" data-dismiss="modal">Cancelar</button>
                <button id="edit-workflow-version-submit-button" type="button" class="action-button btn btn-success">
                	<span class="action-text">Salvar</span>
                	<i class="fa fa-spinner loading-action hide fa-pulse fa-2x fa-fw"></i>
                </button>
            </div>

        </div>
    </div>
</div>
<!-- /Edit version modal -->
