<div class="row loaded-content">
    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
        <div class="x_panel">

            <div class="x_content">

            	<div class="alert-no-content alert alert-info alert-dismissible" role="alert" th:if="${workflowDTO == null}">
                	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    Workflow não existe
                </div>

				<div class="col-md-12 col-sm-12 col-xs-12 documentation-content">
                    <th:block th:if="${workflowDTO != null}">
                  		<div class="project-button-details">
                            <div th:if="${workflowDTO != null and workflowDTO.isEditablebyUser == true}" class="pull-left documentation-buttons">
                               	<button id="cancel-workflow-html" class="btn btn-default hide" type="button">Cancelar</button>
                                <button id="edit-workflow-html" class="btn btn-default no-gap-right" type="button">Editar</button>
                                <button id="save-workflow-html" class="btn btn-success hide no-gap-right" type="button">Salvar</button>
                            </div>
                        </div>

                        <div class="ibox float-e-margins">
                            <div class="ibox-title">

    	                        <div class="ibox-content no-padding">

    								<div th:if="${workflowDocumentationHtml == null}" class="alert-no-content alert alert-info alert-dismissible no-documentation-yet" role="alert">
                                       	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                                        </button>
                                        Não há documentação para este workflow ainda.
                                    </div>

                                    <input id="documentation-workflow-id" type="hidden" th:name="workflowId" th:value="${workflowDTO.workflowId}" />

    	                            <div class="html-workflow-doc-content wrapper p-md">
                                        <div class="html-content hide" th:text="${workflowDocumentationHtml}">[..]</div>
    	                            </div>
    	                        </div>
    	                    </div>
                        </div>
                    </th:block>
	            </div>
            </div>
        </div>
    </div>
</div>
