<!-- Edit tag modal -->
<div class="modal fade bs-edit-tag-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
   	<div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="editTagLabel">Editar tag</h4>
            </div>
            <div class="modal-body">
                <form method="post" id="edit-tag-form" class="form-horizontal form-label-left" th:novalidate="true" role="form" th:action="@{/tag/edit-tag}">

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tag-name">Nome da tag <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        	<input id="edit-tag-id" type="hidden" name="tagId" value="" />
                            <input id="edit-tag-name" type="text" th:required="true" name="tagName" data-validate-length-range="1,70" placeholder="tag" class="form-control col-md-7 col-xs-12" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancel-button" data-dismiss="modal">Cancelar</button>
                <button id="edit-tag-submit-button" type="button" class="action-button btn btn-success">
                	<span class="action-text">Salvar</span>
                	<i class="fa fa-spinner loading-action hide fa-pulse fa-2x fa-fw"></i>
                </button>
            </div>

        </div>
    </div>
</div>
<!-- /Edit tag modal -->
